<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking for {{competition['name']}} || GUDLFT</title>
</head>
<body>
    <h2>{{competition['name']}}</h2>
    Places available: {{competition['numberOfPlaces']}}

    {% if club['points']|int == 0 %}
        <p>You don't have any points to spend.</p>

    {% else %}
        <form action="/purchasePlaces" method="post">
            <input type="hidden" name="club" value="{{club['name']}}">
            <input type="hidden" name="competition" value="{{competition['name']}}">
            
            <label for="places">How many places?</label>
            <select name="places" id="places">
                {% for i in range(1, competition['numberOfPlaces']|int + 1) %}
                    {% if i <= 12 and club['points']|int >= i %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            
            <button type="submit">Book</button>
        </form>
    {% endif %}
</body>
</html>