<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUDLFT Registration</title>
</head>
<body>
    <a href="{{ url_for('index') }}">Go back</a>

    <h1>List of clubs and points available</h1>

    <ul>
        {% for club in clubs %}
                <li>
                    {{ club['name'] }}<br />
                    Number of points: {{ club['points'] }}
                </li>
                <hr />
        {% endfor %}
    </ul>
</body>
</html>
